.card-container {
    display: grid; /* Enable grid layout */
    width: 100%;
    max-width: 5000px;
    grid-template-columns: repeat(auto-fill, 342px); /* Responsive columns */
    gap: 20px; /* Space between cards */
    padding: 16px; /* Padding around the container */
    margin-top: 20px;
    margin: auto;
}
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    background-color: #f9f9f9;
    text-align: left;
    padding: 16px; /* Inner padding */
    width: 300px; /* Card width */
    background-color: #f9f9f9; /* Background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.card h2 {
    color: #7A00FF; /* Purple color */
    font-size: 1.3em;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }

}

.card p {
    margin: 8px 0; /* Margin for paragraphs */
}