

<!doctype html>
<html lang="en">
    <head><link rel="stylesheet" href="static/styles.css" ><link rel="stylesheet" href="static/infocard.css" >
        </head>
    <body>
      <div class="topright">
            {% if session['LoggedIn'] %}
            <button class="dropbtn">{{session['username']}}</button>
            <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Preferences</a>
            <a href="/LogOut">Logout</a>
          {% else %}
            <button class="dropbtn">Sign Up/Log In</button>
            <div class="dropdown-content">
            <a href="/SignUp">Sign Up</a>
            <a href="/LogIn">Log In</a>
          {% endif %}
            </div>
          </div></div>
          <div class='topleft'><img src='static/theresourcecenterlogo.png' width="100" height="100" preserveAspectRatio="xMinYMin" alt="The Resource Center"></div>

          {{render('menu.html', **globals()) | safe}}
      <center><div>
      <div class="rotating-text">
        <p class="whitetext">The Resource Center </p>
        <p>
          <span class="word alizarin">personalizes.</span>
          <span class="word alizarin">finds.</span>
          <span class="word wisteria">creates.</span>
          <span class="word peter-river">simplifies.</span>
        </p></div></div>
      </center>

          <div style="top:150px; position:absolute;"><h1 id="about">Search for something: </h1><form></form>
          <form action='/bsearch' method="get">
            <input type="text" name="q" value="{{ query }}"><input type="submit" value="Search">
            <div class="card-container">
              {% if len(results) %}
              <div class="card" style="animation: fade 0.1s forwards;" id="box0" style="opacity: 0;">
                <h2>{{ results[0][1][1] }}</h2>
                {% for i in [results[0][0]] + results[0][2:-1] %}
                    <p><strong>{{ i[0] }}:</strong> {{ i[1] }}</p>
                {% endfor %}
                <p><strong>{{ results[0][-1][0] }}:</strong> <a href="{{ results[0][-1][1] }}">{{ results[0][-1][1] }}</a></p>
              </div>
              
                {% for x, result in enumerate(results[1:]) %}
                    <div class="card" id="{{'box' + x.__str__()}}" style="opacity: 0;">
                        <h2>{{ result[1][1] }}</h2>
                        {% for i in [result[0]] + result[2:-1] %}
                            <p><strong>{{ i[0] }}:</strong> {{ i[1] }}</p>
                        {% endfor %}
                        <p><strong>{{ result[-1][0] }}:</strong> <a href="{{ result[-1][1] }}">{{ result[-1][1] }}</a></p>
                    </div>
                {% endfor %}
              {% elif query %}
              No results
              {% endif %}
            </div>
        </form></div>
          

                
                <script src="static/globals.js"></script><script src="static/css_auto.js"></script><script src="static/rotate.js"></script><script src="static/reloadplpc.js"></script>
                <script src="static/autoscroll.js"></script><script src="static/animationqueue.js"></script>
                </script>
        </body>
</html>