      <ul class="mainmenu">
        <li class="menuelement"><a href="/">Home</a></li>
        <li class="menuelement"><a href="/">About</a></li>
        <li class="menuelement"><a href="/founder">Founder's Corner</a></li>
        <li class="menuelement"><a href="/vision">Vision and Impact</a></li>
        <li class="menuelement"><a href="/suggestions">Suggest a New Resource</a></li>
        <li class="menuelement"><a href="/bsearch">Broad Search</a></li>
        <li class="menuelement"><a href="/fsearch">Focused Search</a></li>
        <li class="menuelement"><a href="/plp">Personalized Learning Plans</a></li>
      </ul>