<!DOCTYPE html>
<html lang="en-CA">
	<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
	</head>
	<body>
			<p>
				<strong>Our Vision</strong>
			</p>
			<p style="text-align:center">
				<em>“every child can thrive”</em>
			</p>
			<p>
				Every student has the potential to succeed, and at The Resource Center, we are committed to ensuring personalized learning is accessible to all. Inspired by local needs, our mission is to bridge the skill gaps observed across Canada and address the pressing productivity challenges by equipping students with the skills they need for the future.
			</p>
			<p>
				<strong>Our Impact</strong>
			</p>
			<p>
				Our initial surveys show a strong demand from parents and teachers who see immense value in the time and resource efficiency that The Resource Center brings. Additionally, studies indicate that tools like ours can significantly reduce teacher workload, enabling more one-on-one interaction with students and enriching the educational experience.
			</p>
			<center>
				<img src="static\animated_rating.svg"/>
			</center>
			<p style="text-align:center; line-height:108%; font-size:12pt">
				<em>Tested by parents, teachers, and other qualified individuals, we maintain an overwhelmingly positive rating.</em>
			</p>
			<p>
				&#xa0;
			</p>
			<p>
				<strong>What people say:</strong>
			</p>
			<p>
				<em>"I think we have nothing like this"</em><br /><br /><em>"It is very valuable resource for every student"</em><br /><br /><em>"A single website with local information does not exist"</em><br /><br /><em>"Kids/parents needs a trusted resource center"</em><br /><br /><em>"I found the page and the information provided highly valuable and comprehensive. It will be a valuable resource for the parents, students and teachers"</em><br /><br /><em>"The Resource Centre will help any parent or even teachers who wants to support a child in achieving his best of the abilities"</em>
			</p>
			<p>
				<br /><em>"I think that The Resource Center fulfills the need for students that want a personalized learning path."</em><br /><br /><em>"There is no other resource available like it."</em><br /><br /><em>"Covered all the areas which K-12 students really need"</em><br /><br /><em>"It will help my son plan his course of action"</em><br /><br /><em>"It is an absolutely great resource which provides a platform for students who want to participate in competitions and also provides comprehensive insight into personalized learning plan"</em><br /><br /><em>"The Resource Center would be a useful to find resources to use in the classroom"</em><br /><br /><em>"The curation of the resources has an education focus and would benefit students and educators"</em>
			</p>
</body>
</html>